---
http_interactions:
- request:
    method: put
    uri: https://api.emarsys.net/api/v2/contact/?create_if_not_exists=1
    body:
      encoding: UTF-8
      string: '{"contacts":[{"3":"jyucis-emarsys-test@workarea.com"}]}'
    headers:
      Content-Type:
      - application/json
      X-Wsse:
      - UsernameToken Username="un", PasswordDigest="PW",
        Nonce="d36e316282959a9ed4c89851497a717f", Created="2020-01-15T16:41:44Z"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Emarsys-Request-Id:
      - 337be0c0-317b-4e6a-a934-0593170e4d31#1295874
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1579106564'
      X-Suite-Response-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"replyCode":0,"replyText":"OK","data":{"ids":[106504559]}}'
  recorded_at: Wed, 15 Jan 2020 16:41:44 GMT
recorded_with: VCR 2.9.3
