---
http_interactions:
- request:
    method: put
    uri: https://api-proxy.s.emarsys.com/api/v2/internal/215861890/contact/?create_if_not_exists=1
    body:
      encoding: UTF-8
      string: '{"contacts":[{"3":"jyucis-emarsys-get@workarea.com"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ems-Date:
      - 20190313T195319Z
      X-Ems-Auth:
      - EMS-HMAC-SHA256 Credential=suite_workarea_v1/20190313/eu/suite/ems_request,
        SignedHeaders=host;x-ems-date, Signature=b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Emarsys-Request-Id:
      - 71e137ab-b703-4f06-8a33-acf9b8a1097a#4171
      X-Fe:
      - suitesapipxy01.emarsys.at
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1552506840'
      X-Suite-Response-Time:
      - '655'
    body:
      encoding: ASCII-8BIT
      string: '{"replyCode":0,"replyText":"OK","data":{"ids":["504947875"]}}'
  recorded_at: Wed, 13 Mar 2019 19:53:20 GMT
- request:
    method: post
    uri: https://api-proxy.s.emarsys.com/api/v2/internal/215861890/contact/getdata
    body:
      encoding: UTF-8
      string: '{"keyID":"3","keyValues":["jyucis-emarsys-get@workarea.com"],"fields":null}'
    headers:
      Content-Type:
      - application/json
      X-Ems-Date:
      - 20190313T195320Z
      X-Ems-Auth:
      - EMS-HMAC-SHA256 Credential=suite_workarea_v1/20190313/eu/suite/ems_request,
        SignedHeaders=host;x-ems-date, Signature=ed8e9505a29c80fbf411f09c9903943a9b2e8af0e5de9221daaccfd588b67a7a
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Emarsys-Request-Id:
      - 71e137ab-b703-4f06-8a33-acf9b8a1097a#4172
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1552506840'
      X-Suite-Response-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"replyCode":2004,"replyText":"Invalid key field id: ","data":""}'
  recorded_at: Wed, 13 Mar 2019 19:53:21 GMT
recorded_with: VCR 2.9.3
